.header {
  width: 100%;
  height: 150px;
  background-color: #4a4a4b;
  color: aliceblue;

  .container_box {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "sansbold";

    .content_box {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

.main_section {
  width: 100%;
  height: auto;
  background-image: url("../../assets//images/bg_image.avif");
  background-position: center;
  font-family: "sansregular";
  padding-bottom: 20px; 
  display: flex;


  .container_box{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 54vh;


    .content_box{
        display: flex;
        gap: 48px;
        flex-wrap: wrap;
        
        .card_book{
            width: 340px;
            min-height: 250px;
            height: auto;
            background-color: #fff;
            border-radius: 5px;
            padding-bottom: 20px;
            padding-top: 10px;
            box-shadow: 0 0 3px 0 #999;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 40px;
            p {
              margin: 0;
              font-size: 15px;
              width: 250px;
            }
    
            .button {
              width: 100px;
              height: 34px;
              margin: 10.5px 74.5px 0 71px;
              border-radius: 2px;
              color: #fff;
              border: solid 1px #4f8db3;
              background-color: #4f8db3;
              transition: background-color 0.5s;
              font-size: 13px;
    
              &:hover {
                background-color: #333;
              }
            }
        }
    }
    .link_style{
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #2A4C62;
      list-style: none;
      text-decoration: none;
      width: 200px;
      height: 50px;

      p{
        color: rgb(13, 53, 213);
        margin: 0;
      }

      p:hover{
        border-bottom: 3px solid #2A4C62  ;
      }
    } 
  }
}
