.content {
  height: 400px;
  width: 100%;
  color: #ffffff;
  background-color: #2A4C62;
  display: flex;
  font-family: "open_sansregular";
  align-items: center;
  justify-content: center;

  .container_box {
    margin: 0 auto;
    width: 1026px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      font-size: 20px;
      height: 200px;
      font-size: 17.5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h3 {
        margin-bottom: 50px;
        width: 513px;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideInLeft 1s forwards;
      }

      p {
        opacity: 0;
        transform: translateX(100%);
        animation: slideInRight 1s forwards;
      }
    }

    .right {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .image {
        opacity: 0;
        transform: translateX(100%);
        animation: slideIn 1s forwards;
        width: 700px;
        height: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        border: 3px solid #ffffff; /* Add a white border as a frame */
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
